# Data
data/*.csv
data/*.csv.*
data/*.7z

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Jupyter
*.ipynb_checkpoints

# MLflow
mlruns/
**/mlruns/
mlflow.db
**/mlflow.db

# Environment
.env
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# Logs
*.log